<%= turbo_frame_tag :recent_commands do %>
  <ul class="terminal__menu flex-column txt-align-start margin-none margin-block-end unpad" aria-label="Recent commands" data-turbo-permanent="true"><%= render partial: "commands/command", collection: @commands %></ul>


  <pre id="chat-responses"></pre>
  <p id="chat-insight"></p>
  <%= render "commands/help" %>
<% end %>
